@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;1,800&family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {box-sizing: border-box;
    margin: 0;}
    
body {    
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(rgb(0, 0, 0, 0.99), rgb(0, 0, 0, 0.99));   
    color: white;       
    min-width: 420px;     
}

.header .icon {
    display: none;
}

.container-toggle {
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #cecece
                inset -4px -4px 6px white;
    border-radius: 25px;      
    cursor: pointer;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: linear-gradient(145deg, #D8D8D8, #FFFFFF);
    border-radius: 25px;
    margin-top: 18px;
    margin-left: 5px;
    box-shadow: inset 3px 3px 8px #cecece
                inset -3px -3px 8px white;

}

#container.active .toggle{
    left: 40px;
}

body.active {
    background-image: linear-gradient(rgb(255,255, 255, 0.99), rgb(255, 255, 255, 0.99));
    color: black;
}

.header{
    overflow: hidden;
    background-color: rgb(0, 0, 0, .2);    
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s;
}

.header a{
    float: left;
    color: inherit;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}

h1,
h2,
h3,
h4{
    text-align: center;
}
  
.header-right {
    float: right;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;    
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

.main{
    overflow: hidden;
}

.section{
    padding: 2rem 0 1rem;
}

.section_title,
.section_subtitle{
    text-align: center;
}

.section_title{
    margin-bottom: 2rem;    
}

.section_subtitle{
    display: block;    
}

.container{
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid{
    display: grid;
    gap: 1rem;
}

.home_intro{    
    text-align: center;
}

.home_name{
    font-size: 600;
}

.home_education{
    font-size: 400;
}

.home_button{
    align-items: center;
    text-align: center;
}

.home_handle{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    width: 190px;
    height: 290px;
}

.home_img{
    width: 160px;    
}

.home_social{
    position: fixed;
    bottom: 30%;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home_social-link{
    width: max-content;
    color: inherit;
    padding: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
}

.home_social-link::after{
    content: '';
    width: 32px;
    height: 2px;    
    transform: rotate(90deg) translate(16px, 3px);
}

.about_container{
    row-gap: 2rem;
}

.about_img{
    width: 220px;
    justify-self: center;
}

.about_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}

.about_box{
    background-color: rgb(0, 0, 0, .4);
    text-align: center;
    padding: .75rem .5rem;
}

.about_description{
    margin-bottom: 2rem;    
    text-align: center;
}

.skills_container{
    row-gap: 2rem;
    padding-top: .8rem;
}

.skills_content{
    background-color: rgb(0, 0, 0, .4);
    padding: 1.5rem;
}

.skills_title{    
    text-align: center;
    margin-bottom: 1.25rem;
}

.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills_group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills_data{
    display: flex;
    column-gap: .5rem;
}

.skills .bxs-badge-check{
    font-size: 1rem;    
}

.skills_name{
    line-height: 18px;    
}

.skills_level{
    font-size: small;    
}

.work_container{
    padding-top: .8rem;
}

.work_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work_item{
    cursor: pointer;    
    padding: .25rem .75rem;
    font-weight: 400;
}

.work_card{
    background-color: rgb(0, 0, 0, .4);
    padding: 1rem;
}

.work_img{
    margin-bottom: .75rem;
}

.work_title{
    font-size: medium;
    margin-bottom: .25rem;
}

.work_button{
    width: max-content;
    color: white;
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.work_button:hover .work_icon{
    transform: translateX(.25rem);
}

.work_icon{
    font-size: 1rem;
    transition: .4s;
}

.active-work{
    background-color: #ddd;
    color: black;
}

.contact_card-data{
    margin-top: 5px;
}

#snackbar {
    visibility: hidden;
    color: #4adb1e;
    background-color: rgb(30, 30, 30);
    min-width: 250px;
    margin-left: -125px;
    border-radius: 2px;
    padding: 16px;
    text-align: center;
    left: 50%;
    bottom: 30px;
    z-index: 1;
    position: fixed;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }